.role-container {
  text-align: center;
  padding: 60px;
}

.role-box-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.role-box {
  width: 220px;
  height: 160px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.role-box:hover {
  transform: scale(1.05);
}

.user {
  background: linear-gradient(135deg, #2a72b1, #0eedf9);
}

.creator {
  background: linear-gradient(135deg, #48ba48, #90cdc1);
}

.admin {
  background: linear-gradient(135deg, #db3f23, #fee140);
}